name: deploy-book

# Based on:
# https://jupyterbook.org/en/stable/publish/gh-pages.html

on:
  workflow_call:

# Inherit configuration variables in the environment, or assign default values.
# Configuration variables may be set as explained here:
# https://docs.github.com/en/actions/learn-github-actions/variables#creating-configuration-variables-for-a-repository
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # `main` as primary by default, advised to make it `published` to start using draft-publish-workflow
  PRIMARY_BRANCH: ${{ vars.PRIMARY_BRANCH != '' && vars.PRIMARY_BRANCH || 'main' }}
  # alias-rule, e.g. 'draft:main'
  # By default, no aliases are defined (''). 
  # If no alias is wanted, BRANCH_ALIASES may be set to ' ' (space).
  BRANCH_ALIASES: ${{ vars.BRANCH_ALIASES }}
  # Space-separated list of branch names, e.g. 'main second third'.
  # By default, deploy all branches. This is indicated by '*'.
  BRANCHES_TO_DEPLOY: ${{ vars.BRANCHES_TO_DEPLOY != '' && vars.BRANCHES_TO_DEPLOY || '*' }}
  # Space-separated list of branch names, e.g. 'main second third'.
  # By default, preprocess no branches ('').
  # Preprocessing no branches can also be set by ' '.
  BRANCHES_TO_PREPROCESS: ${{ vars.BRANCHES_TO_PREPROCESS }}

jobs:
  get-branches:
    runs-on: ubuntu-latest
    outputs:
      branches: ${{ steps.set-branches.outputs.branches }}
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - id: set-branches
      name: Set branches
      run: |
        # If all (*), query all remote branches
        # If not, read from env var
        if [ "$BRANCHES_TO_DEPLOY" == '*' ]; then
          branches=$(git branch -r | sed 's,\s*origin/,,g')
        else
          branches=$(echo "$BRANCHES_TO_DEPLOY" | tr ' ' '\n' | grep -E '\S')
        fi

        # Record branch names (one per line) for alias validation
        echo "$branches" | tr ' ' '\n' > branches.txt

        # Convert to a JSON list
        branches=$(echo "$branches" | jq -Rn '[inputs]')
        echo "branches=$(echo $branches)" >> "$GITHUB_OUTPUT"

    - name: Validate aliases
      run: |
        # Prepare data
        echo "$BRANCH_ALIASES" | tr ' ' '\n' > rules.txt
        cut -d: -f1 rules.txt > aliases.txt
        cut -d: -f2 rules.txt > targets.txt

        # Alias named as existing branch
        if grep -E '\S' aliases.txt; then
          while IFS= read -r alias; do
            if grep "^$alias$" branches.txt ; then
              echo "::error ::Alias \"$alias\" given in \$BRANCH_ALIASES conflicts with existing branch."
              exit 1
            fi
          done < aliases.txt
        fi

        # Non-existent targets
        if grep -E '\S' targets.txt; then
          while IFS= read -r target; do
            if ! grep "^$target$" branches.txt ; then
              echo "::error ::Branch \"$target\" given in \$BRANCH_ALIASES does not exist."
              exit 1
            fi
          done < targets.txt
        fi

        # Duplicate aliases
        if { sort | uniq -d | grep . -qc; } < aliases.txt; then
          echo "::error ::Duplicate aliases in \$BRANCH_ALIASES: \"$BRANCH_ALIASES\""
          exit 1
        fi


  build-books:
    runs-on: ubuntu-latest
    needs: get-branches
    if: ${{ needs.get-branches.outputs.branches != '[]' }}
    permissions:
      pages: write
      id-token: write
    strategy:
      # If one branch fails, we may still want to deploy the other
      fail-fast: false
      matrix:
        branch: ${{ fromJson(needs.get-branches.outputs.branches) }}
    steps:
    - name: Checkout to branch
      uses: actions/checkout@v4
      with:
        ref: ${{ matrix.branch }}
        submodules: 'true'

    - name: Record if branch is preprocessed for cache
      run: |
        if [ "$BRANCHES_TO_PREPROCESS" == "*" ] || echo "$BRANCHES_TO_PREPROCESS" | tr ' ' '\n' | grep "^${{ matrix.branch }}$"; then
          echo true > EXTRA_CACHE_VARS.txt
        else
          echo false > EXTRA_CACHE_VARS.txt
        fi

    - name: Record filenames for cache
      run: |
         find book/ -type f >> EXTRA_CACHE_VARS.txt

    - name: Cache page build
      id: cache-html
      uses: actions/cache@v4
      with:
        path: "book/_build/html"
        key: html-build-${{ matrix.branch }}-${{ hashFiles('book/**', 'requirements.txt', 'EXTRA_CACHE_VARS.txt') }}

    - if: ${{ steps.cache-html.outputs.cache-hit != 'true' }}
      name: Set up Python 3.11
      uses: actions/setup-python@v5
      id: setup-python
      with:
        python-version: 3.11

    - if: ${{ steps.cache-html.outputs.cache-hit != 'true' }}
      name: Cache virtualenv
      uses: actions/cache@v4
      with:
        key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('requirements.txt') }}
        path: .venv

    - if: ${{ steps.cache-html.outputs.cache-hit != 'true' }}
      name: Install dependencies
      run: |
        python -m venv .venv
        source .venv/bin/activate
        python -m pip install -r requirements.txt
        echo "$VIRTUAL_ENV/bin" >> $GITHUB_PATH
        echo "VIRTUAL_ENV=$VIRTUAL_ENV" >> $GITHUB_ENV

    - if: ${{ steps.cache-html.outputs.cache-hit != 'true' }}
      name: Preprocess & build the book from branch
      run: |
        if [ "$BRANCHES_TO_PREPROCESS" == "*" ] || echo "$BRANCHES_TO_PREPROCESS" | tr ' ' '\n' | grep "^${{ matrix.branch }}$"; then
          option_publish='--publish'
        else
          option_publish=''
        fi
        set -o pipefail
        # https://stackoverflow.com/a/692407
        teachbooks build $option_publish book/ > >(tee stdout.log) 2> >(tee stderr.log >&2)
        set +o pipefail

    - name: If failed, restore a book for this branch from cache
      if: failure()
      id: attempt-restore
      uses: actions/cache/restore@v4
      with:
        key: none
        path: "book/_build/html"
        restore-keys: html-build-${{ matrix.branch }}

    - name: Debug cache attempt output
      if: failure()
      run: |
        echo cache-hit: ${{ steps.attempt-restore.outputs.cache-hit }}
        echo cache-primary-key: ${{ steps.attempt-restore.outputs.cache-primary-key }}
        echo cache-matched-key: ${{ steps.attempt-restore.outputs.cache-matched-key }}

    - name: Record build failure
      if: failure()
      run: |
        if [ -z "${{ steps.attempt-restore.outputs.cache-matched-key }}" ]; then
          # Cache miss
          echo ":o: \\\`Build failed [2]\\\`" | tee buildstatus.txt
        else
          # (Partial) cache hit
          echo ":red_circle: \\\`Build failed [1]\\\`" | tee buildstatus.txt
        fi

    - name: Record build success
      if: success()
      run: |
        echo ":white_check_mark: \\\`Published\\\`" >> buildstatus.txt

    - name: Make summary of errors, if any
      # run even in case of failure
      if: always()
      run: |
        # If there are warnings or errors, compose a summary (if not, don't)
        touch summary.md
        if [ -s stderr.log ]; then
          {
            echo "On branch \\\`${{ matrix.branch }}\\\`:"
            echo '\`\`\`'
            cat stderr.log
            echo '\`\`\`'
          } >> summary.md
        fi

    - name: Clean branch name of disallowed characters
      if: always()
      run: |
        echo "MATRIX_BRANCH_NAME_CLEAN=$(echo ${{ matrix.branch }} | tr '/":<>|*?\/\\' '-')" >> $GITHUB_ENV

    - name: Upload summary as an artifact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: _summary-${{ env.MATRIX_BRANCH_NAME_CLEAN }}
        path: "summary.md"

    - name: Upload build status as an artifact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: _buildstatus-${{ env.MATRIX_BRANCH_NAME_CLEAN }}
        path: "buildstatus.txt"

    - name: Upload the built book HTML as an artifact
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.MATRIX_BRANCH_NAME_CLEAN }}
        path: "book/_build/html"

  deploy-books:
    # Run after build-books, even if it failed
    if: always()
    needs:
    - get-branches
    - build-books
    outputs:
      summary: ${{ steps.output-summary.outputs.summary }}
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    steps:
    - uses: actions/checkout@v4

    - run: |
        mkdir final/

    - name: Download all artifacts
      uses: actions/download-artifact@v4
      with:
        path: "final/"

    - name: Extract extras from the downloaded artifacts
      run: |
        mkdir _summaries/
        mkdir _buildstatus/
        mv final/_summary-* _summaries
        mv final/_buildstatus-* _buildstatus

    - name: Clean artifacts (1)
      uses: GeekyEggo/delete-artifact@v5.0.0
      with:
        name: "_summary-*"

    - name: Clean artifacts (2)
      uses: GeekyEggo/delete-artifact@v5.0.0
      with:
        name: "_buildstatus-*"

    - name: Copy primary book to root, fail if names conflict
      timeout-minutes: 1
      run: |
        GLOBIGNORE=".:.."
        # -i leads to a prompt in case of conflict, => a timeout
        if [ -d final/"$PRIMARY_BRANCH" ]; then
          cp -irv final/"$PRIMARY_BRANCH"/* final/
        fi
        ls -a final/

    - name: Include overview summary
      run: |
        # Restore "raw" branch names
        echo '${{ needs.get-branches.outputs.branches }}' | jq -r '.[]' > raw.txt
        {
          # Display raw/clean branch name versions in Actions Summary
          echo "### Branches deployed"
          ## Table headers
          echo "| Branch :tanabata_tree: | Link :link: | Build status :ballot_box_with_check:"
          echo "| :--- | :--- | :--- |"
        } >> summary.md

        ## Fetch the GH Pages URL
        # https://stackoverflow.com/a/76354104
        url=$(gh api "repos/$GITHUB_REPOSITORY/pages" --jq '.html_url')

        # Clean branch names
        cat raw.txt | tr '/":<>|*?\/\\' '-' > clean.txt
        cat clean.txt | xargs -I{} cat _buildstatus/_buildstatus-{}/buildstatus.txt > status.txt
        paste -d ' ' raw.txt clean.txt status.txt > pasted.txt
        cat pasted.txt |
        while IFS=' ' read -r raw clean status; do
          echo "| $raw | <$url$clean> | $status |" >> summary.md
        done

        primary_status=$(grep "^$PRIMARY_BRANCH " pasted.txt | cut -d\  -f4)

        {
          echo
          echo "#### Legend for build status"
          echo ":white_check_mark: \\\`Published\\\` - build success, new version published."
          echo ":red_circle: \\\`Build failed [1]\\\` - build failure, previous version of the book reused."
          echo ":o: \\\`Build failed [2]\\\` - build failure, no previous version reused."

          echo
          echo '#### Primary book at root'
          echo "The book at the website root <$url> is from the primary branch \\\`$PRIMARY_BRANCH\\\` (status: $primary_status)."
        } >> summary.md

    - name: Symlink branch aliases
      id: symlink-aliases
      run: |
        echo "### Aliases" >> summary.md
        if echo "$BRANCH_ALIASES" | grep -E '\S'; then
            # Summary table headers
            {
              echo "| Alias :arrow_right: | Target :dart: | Link :link: | Build status :ballot_box_with_check: |"
              echo "| :--- | :--- | :--- | :--- |"
            } >> summary.md
        else
            echo "No aliases defined." >> summary.md
        fi

        url=$(gh api "repos/$GITHUB_REPOSITORY/pages" --jq '.html_url')

        paste -d ' ' clean.txt status.txt > lookup_status.txt

        echo "$BRANCH_ALIASES" | tr ' ' '\n' | grep -E '\S' |
        while IFS=':' read -r key value; do
          # If the target branch is to be deployed, make symlink to it.
          if [ "$BRANCHES_TO_DEPLOY" == "*" ] || echo "$BRANCHES_TO_DEPLOY" | tr ' ' '\n' | grep "^$value$"; then
            # Clean branch names of special characters
            clean_key=$(echo "$key" | tr '/":<>|*?\/\\' '-')
            clean_value=$(echo "$value" | tr '/":<>|*?\/\\' '-')
            status=$(grep "^$clean_value " lookup_status.txt | cut -d\  -f2,3)
            echo "| $clean_key | $clean_value | <$url$clean_key> | $status |" >> summary.md
            ln -s "$clean_value" final/"$key"
          fi
        done

    - name: Include summary of errors
      run: |
        {
          echo "### Preview of build errors & warnings"
          echo "For more details please see the corresponding \\\`build-books\\\` jobs in the left pane."
        } >> summary.md
        ls _summaries/
        for fname in _summaries/*; do
          echo $fname
          if [ "$fname" == 'summary.md' ]; then
            continue
          fi
          cat "$fname/summary.md" >> tmp.md
        done
        if [ -s tmp.md ]; then
          cat tmp.md >> summary.md
        else
          echo "No build errors or warnings encountered." >> summary.md
        fi

    - name: Upload final Pages artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: "final/"

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4

    # source: https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#example-of-a-multiline-string
    - name: Output summary
      id: output-summary
      run: |
        {
          echo 'summary<<EOF'
          cat summary.md
          echo EOF
        } >> "$GITHUB_OUTPUT"

  summarize:
    if: always()
    needs:
      - get-branches
      - deploy-books
    runs-on: ubuntu-latest
    steps:
    - name: Summarize
      run: |

        echo "${{ needs.get-branches.outputs.summary }}" >> $GITHUB_STEP_SUMMARY
        echo "${{ needs.deploy-books.outputs.summary }}" >> $GITHUB_STEP_SUMMARY

        isdefault() {
          if [ "$1" == '' ]; then
            echo '(default value used)'
          else
            echo ''
          fi
        }

        # Display config var values
        {
          echo "### Repository configuration variables"
          echo "Variables can be set at ${{ format('{0}/{1}/settings/variables/actions', github.server_url, github.repository) }}"
          echo '```'
          echo "PRIMARY_BRANCH=$PRIMARY_BRANCH $(isdefault ${{ vars.PRIMARY_BRANCH }})"
          echo "BRANCH_ALIASES=$BRANCH_ALIASES $(isdefault ${{ vars.BRANCH_ALIASES }})"
          echo "BRANCHES_TO_DEPLOY=$BRANCHES_TO_DEPLOY $(isdefault ${{ vars.BRANCHES_TO_DEPLOY }})"
          echo "BRANCHES_TO_PREPROCESS=$BRANCHES_TO_PREPROCESS $(isdefault ${{ vars.BRANCHES_TO_PREPROCESS }})"
          echo '```'
        } >> $GITHUB_STEP_SUMMARY



permissions:
  contents: read
  pages: write
  id-token: write
